@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url(Roboto-Regular.ttf);
}


@font-face {
  font-family: 'Roboto Italic';
  font-weight: normal;
  font-style: italic;
  src: url(Roboto-Italic.ttf);
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-style: normal;
  src: url(RobotoCondensed-Light.ttf);
}

@font-face {
  font-family: 'montserratlight';
  font-weight: normal;
  font-style: normal;
  src: url(Montserrat-Light.otf);
}

@font-face {
  font-family: 'userguide';
  src: url('Fonts/userguide.ttf?-n0eepd') format('truetype');
  font-weight: normal;
  font-style: normal;
}