@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url(../Fonts/Roboto-Regular.ttf);
}


@font-face {
  font-family: 'Roboto Italic';
  font-weight: normal;
  font-style: italic;
  src: url(../Fonts/Roboto-Italic.ttf);
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-style: normal;
  src: url(../Fonts/RobotoCondensed-Light.ttf);
}

@font-face {
  font-family: 'montserratlight';
  font-weight: normal;
  font-style: normal;
  src: url(../Fonts/Montserrat-Light.otf);
}