
@media only screen and (max-width: 1024px) {

    .wrapper {
        background-size: 75%;
        & > header h1 img {
            padding: 35 * .75px 0px 35 * .75px 10px;
            width: 214 * .75px;
            height: 102 * .75px;
        }
    }

    footer {
        padding-left: 20px;
    }

    // three quarters
    .col-9 {

        @include grid-unit(8, 12, $gridGutter, flexwidth);
        & ~ .col-3 {
            @include grid-unit(4, 12, $gridGutter, flexwidth);
        }
    }

    nav {
        @include simple-flex-box(100%);
        font-family: $regularFont;
        @include font-size(14);
        padding: 0px;
        & > ul {
            @include clearfix();
            background: blacken($linkColor, .4);
            & > li {
                display: block;
                float: left;
                line-height: 30px;
                & > a, & > span, & > ins {
                    margin: 0 10px;
                    color: white(.85);
                    text-shadow: 1px 1px 0px blacken($linkColor, .6);
                    &:hover {
                        color: white;
                    }
                }

                &:first-child {
                    & > a, & > span {
                        display: none;
                    }

                    & > ins {
                        display: inline-block;
                    }
                }
            }
        }
    }

    main {
        padding: ($gridGutter * 1px) 5px 5px;
    }
}

@media only screen and (max-width: 979px) {

}

@media only screen and (max-width: 767px) {
//    main .flex-area {
//        width: 100%;
//    }
    .col-12, .col-11, .col-10,
    .col-9, .col-8 {
        @include simple-flex-box-width(100%);
        margin-right: 0;
    }
    .col-7,
    .col-6, .col-5, .col-4,
    .col-3, .col-2, .col-1 {
        @include grid-unit(6, 12, $gridGutter, flexwidth);
    }
    nav {
        h1 {
            float: right;
            display: block;
            @include font-size(16);
            font-family: "Roboto", sans-serif;
            color: white(.85);
            text-shadow: 1px 1px 0px blacken($linkColor, .6);
            position: relative;
            top: 5px;
            cursor: pointer;
            ins {
                margin: 0 $gridGutter * .5px;
                position: relative;
                top: -5px;
                float: right;
            }
        }
        ul {
            display: none;
            background: rgba(black, .5);
            padding: 0 0 $gridGutter * .5px $gridGutter * .5px;
            @include font-size(16);
            clear: both;
            position: absolute;
            right: $gridGutter * .5px;
            top: 33px;
            & > li {
                background: blacken($linkColor, .4);
                margin-top: 1px;
                float: none;
                & > a, & > span {
                    display: block !important;
                    padding: 3px 10px;
                }

                & > ins {
                    display: none !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {

    [class*=" col-"], [class^="col-"] {
        @include simple-flex-box-width(100%);
        margin-right: 0;
        & ~ .col-3 {
            @include simple-flex-box-width(100%);
            margin-right: 0;

        }
    }


    main {
        padding: 0;
        .facts {
            &:not(.plain) {
                li {
                    &:before {
                        content: " ";
                    }
                }
            }
        }
    }

    .wrapper {
        & > header h1 img {
            padding: 35 * .50px 0px 35 * .50px 10px;
            width: 214 * .50px;
            height: 102 * .50px;
        }
    }

}
@import "bootstrap";

@media only screen and (max-width: 360px) {

    main {
        .flex-area {
            width: 99%; // this is a bug - browser or my code?
        }
        .entry {
            .img-part {
                width: 100%;
                float: none;
                padding: 0;
                overflow: hidden;
                img {
                    margin-top: -5%;
                    margin-bottom: -15%;
                }
            }
        }
    }
    footer {
        .social {
            margin: 0;
        }
        .flt-col-3,
        .flt-col-4,
        .flt-col-5 {
            @include grid-unit(12, 12, 0, floatwidth);
        }

        .memberships {
            margin-top: $gridGutter * 1.5px;
            h1 {
                margin-bottom: $gridGutter * 1px;
            }
        }
    }
}


