@media only screen and (max-width: $fullWidth * 1px) { 

    main {
        margin-right: 10px;
    }

    .search-area {
        form {
            position: relative;
            margin-right: 10px;
        }
    }
}

@media only screen and (max-width: 800px) {
    header {
        .sidebar {
            width: 32px;
            -webkit-flex: none;
            flex: none;
            min-width: auto; 
            //
            img {
                width: 0px;
                //@include vendor-prefix(transition, width $menuSpeed, property);
            }
        } 

    }

    .clearfix.flex-area {
        .sidebar {
            width: 32px;
            //@include vendor-prefix(transition, width $menuSpeed, property);
            -webkit-flex: none;
            flex:none;
            min-width: auto;
            ul {
                overflow: hidden;
                .icon-arrow-down {
                    display: none;
                }
                a {
                    white-space: nowrap
                }
                ul {
                    height: 0px;
                    overflow:hidden;
                    //@include vendor-prefix(transition, height $menuSpeed, property);
                }
            }
        } 

        .menu {
            display:block;         
            background: $iconBg;
            color: white;
            position: absolute;        
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
            line-height: 24px;
            padding: 0 50px 0 30px;
            top: 85px;
            left: -13px;     
            text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
            cursor: pointer;
            @include font-size(14);
            .icon-arrow-down {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg); 
                position: relative;
                display:block;
                width: 16px;
                line-height:16px;
                position: absolute;
                right: 25px;
                top: 6px;
            }                   
            //@include vendor-prefix(transition, left $menuSpeed, property);
        }
    } 

    .navi-open {

        header {
            .sidebar {
                width: $sidebarWidth * 1px;
                img {
                    width: auto;
                }
            } 

        }

        .clearfix.flex-area {
            .sidebar {
                -webkit-flex: none;
                flex:none;
                min-width: auto;
                width: $sidebarWidth * 1px;
                .active {
                    ul {
                        overflow: visible;
                        display:block;
                        height: auto !important;
                        a {
                            white-space: normal;
                        }
                        .icon-arrow-down {
                            display: block;
                        }
                    }
                }
            } 

            .menu {
                display:block;
                left: 174px;             
                //@include vendor-prefix(transition, left $menuSpeed, property);           
                .icon-arrow-down {
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
            }
        } 

        main {
            margin-left: $mainLeft * -1px
        }
    }
}

