@font-face {
	font-family: 'userguide';
	src:url('fonts/userguide.eot?-n0eepd');
	src:url('fonts/userguide.eot?#iefix-n0eepd') format('embedded-opentype'),
		url('fonts/userguide.woff?-n0eepd') format('woff'),
		url('fonts/userguide.ttf?-n0eepd') format('truetype'),
		url('fonts/userguide.svg?-n0eepd#userguide') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'userguide';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-introduction:before {
	content: "\e600";
}

.icon-arrow-down:before {
	content: "\e601";
}

.icon-take-a-tour:before {
	content: "\e602";
}

.icon-terminology:before {
	content: "\e603";
}

.icon-appendix:before {
	content: "\e604";
}

.icon-advanced-features:before {
	content: "\e605";
}

.icon-search:before {
	content: "\e606";
}

.icon-faq:before {
	content: "\e607";
}

.icon-test-takers:before {
	content: "\e608";
}

.icon-groups:before {
	content: "\e609";
}

.icon-items:before {
	content: "\e60a";
}

.icon-tests:before {
	content: "\e60b";
}

.icon-deliveries:before {
	content: "\e60c";
}

.icon-results:before {
	content: "\e60d";
}

.icon-interactions:before {
	content: "\e60e";
}

